<%- include('partials/header.ejs') %> <% blogs.forEach((blog) => { %>

<div class="flex justify-around ">
  <div class="rounded-lg m-2 p-2 lg:w-3/5 md:flex border-2 border-gray-400">
    <div class="md:w-2/5">
      <img class="rounded-lg" src="<%= blog.image %>" alt="<%= blog.title %>" />
      <p class="text-center"><%= blog.created.toDateString() %></p>
    </div>
    <div class="ml-4 md:w-3/5">
      <h2 class="text-4xl text-center mb-3"><%= blog.title %></h2>
      <p class="text-2xl">
        <%- blog.body.substring(0,160) %> ...
        <a class="text-sm text-blue-400" href="/blogs/<%= blog.id %>"
          >Read more</a
        >
      </p>
    </div>
  </div>
</div>

<% }) %> <%- include('partials/footer.ejs') %>
